<app-header></app-header>
<!-- START THE INTRO SECTION video stopped 1:28:47-->
<section id="home" class="intro-section">
  <div class="container">
    <div class="row align-items-center text-white">
      <!-- START THE CONTENT FOR THE INTRO -->
      <div class="col-md-6 intros">
        <h1 class="display-2">
          <span class="display-2--intro">Hey! I'm Rajesh</span>
          <span class="display-2--description lh-lg">
            this is my effort to productionalize my ideas using full stack engineering.
            (Welcome to my kitchen - part of "Experiment with Failures ")
          </span>
        </h1>
        <button type="button" class="rounded-pill btn-rounded">Get in Touch
          <span>
            <i class="fas fa-arrow-right"></i>
          </span>
        </button>
      </div>
      <!-- START THE CONTENT FOR THE VIDEO -->
      <div class="col-md-6 intros">
        <div class="video-box">
          <img src="assets/images/Coding _Monochromatic.png" alt="video illustration" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <div class="container">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->