<div class="book">

    <h2>{{book?.description}}</h2>

    <!-- <img class="book-thumbnail" [src]="book?.iconUrl"> -->

    <mat-form-field>

        <input matInput placeholder="Search Chapter" #input>

    </mat-form-field>

    <div class="spinner-container" *ngIf="dataSource.loading$ | async">

        <mat-spinner></mat-spinner>

    </div>

    <mat-table class="gener-tabl mat-elevation-z8" [dataSource]="dataSource" matSort matSortActivve="seqNo"
        matSortDirection="asc" matSortDisableClear>

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-hdear>#</mat-header-cell>
            <mat-cell *matCellDef="let chapter">{{chapter.id}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-hdear>Name</mat-header-cell>
            <mat-cell *matCellDef="let chapter">{{chapter.name}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef mat-sort-hdear>Description</mat-header-cell>
            <mat-cell *matCellDef="let chapter">{{chapter.description}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="duration">
            <mat-header-cell *matHeaderCellDef>Duration</mat-header-cell>
            <mat-cell class="duration-cell" *matCellDef="let chapter">{{chapter.duration}}</mat-cell>
        </ng-container>
        <!-- actions -->
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>
                <button mat-icon-button color="primary" (click)="addNew()">
                    <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                </button>
            </mat-header-cell>

            <mat-cell *matCellDef="let chapter; let i=index;">
                <button mat-icon-button color="accent" (click)="editChapter(i, chapter)">
                    <mat-icon aria-label="Edit">edit</mat-icon>
                </button>

                <button mat-icon-button color="accent" (click)="deleteChapter(i, chapter)">
                    <mat-icon aria-label="Delete">delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

    </mat-table>


    <mat-paginator [length]="book?.chapterCount" [pageSize]="3" [pageSizeOptions]="[3, 5, 10]"></mat-paginator>
</div>